section#mission {
    ul.social-network {
        list-style: none;
        padding: 0;
        li{
            height: 5rem;
            margin-bottom: 0.7rem;
            padding-bottom: 6rem;
            padding-left: 5rem;
            background-position: top left, 1.25rem bottom;
            background-repeat: no-repeat, no-repeat;
            background-size: 4rem 4rem, 1.5rem 1.5rem;
        }
        li.advertisers {
            background-image: url(../img/mission-advertiser.svg), url(../img/mission-arrow.svg);
        }
        li.ads-spending {
            background-image: url(../img/mission-finances.svg), url(../img/mission-arrow.svg);
        }
        li.social-network {
            background-image: url(../img/mission-social-network.svg), url(../img/mission-arrow.svg);
        }
        li.spam {
            background-image: url(../img/mission-spam.svg), url(../img/mission-arrow.svg);
        }
        li.users {
            background-image: url(../img/mission-user.svg);
        }
    }
}