section#tokens {
    img{
        max-height:360px;
    }
    .sectors{
        img {
            max-height:80px;
        }
        ul{
            list-style: none;
            padding-left: 0;
            h5 {
                padding-left: 2rem;
            }
            li{
                background: url(../img/dash.svg) top left no-repeat;
                background-size: 1.5rem, 0.5rem;
                background-position: left 0.5rem;
                padding-left:2rem;
            }
        }
    }
}